<meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />


<app-navbar></app-navbar>

<br><br>
<h2>For other Health related Queries chat with our Health bot</h2>
Ex:
<ul>
    <li>What are Muscle cramps ?</li>
   <li>Excercises to Avoid Diabetes</li>
</ul>

<div class="ct">
  <iframe src='https://webchat.botframework.com/embed/Tfitness-bot?s=0QSsndO0e2c.j3njCKBX_qc-Nz4M3l9x_AlI8O6Q2_Ksw0n3KUvVGJ8'  style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>
</div>
