<app-navbar></app-navbar>

 <!-- logo image -->
  <div class="hmage">
    <img src="assets/image/home4.jpeg">
   </div>


<!-- main heading -->
   <div class="container">
    <div class="text-center mt-5">
      <h1>Welcome to Fitlogs!</h1>
      <h2><i>"Your journey to a healthier you starts here."</i></h2>
    </div>
<br>
</div>
    <div class="row mt-2" style="margin-left: 50px; margin-right:50px;">
        <p style="font-size:20px; font-family: emoji;">Our fitness tracker is designed to help you stay motivated, track your workouts, and achieve your fitness goals. With user-friendly features and personalized tracking, you can log your exercises, set goals, monitor your progress, and receive reminders to keep you on track.
        Remember, every small step counts towards a healthier and happier you. Let's embark on this journey together!</p>
      </div>
      <br>
      <div class="text-center start-journey">
        <i class="fa-solid fa-dumbbell" style="font-size: 30px;"></i>
        <b><p style="font-size : 18px;">
          <i>Start today and experience the power of tracking, progress, and transformation with our fitness tracker application.</i></p></b>
      </div>
    
  <!-- to display the circular image  -->
  <div class="flex-container" style="align-items: center;">
  <div class="infocardContainer">
    <div id="main">
      <img src="https://thumbs.dreamstime.com/b/exercise-workout-equipment-dumbbell-gym-fitness-sport-tr-exercise-workout-equipment-dumbbell-gym-fitness-sport-132865723.jpg">
    </div>
    <!-- content insde the circular image -->
    <div id="textbois">
     <h1>Step 1</h1>
     <p> Add Workout by choosing the </p>
     <p>appropritate activity.</p>
     <p><a routerLink="/workouts">Click Here</a></p>
    </div>
  </div>
<!-- to display content beside the image -->
  <div class="content">
    <p style="font-size:19px; font-family: emoji;">Tracking your workouts has never been easier! Whether you're hitting the gym, going for a run, or practicing yoga, our app lets you record all the essential details, from exercise type and duration to notes and dates.With FitLogs, you can easily log your workouts, track your progress, and set meaningful goals that push you towards new achievements. 
      Our intuitive interface makes it a breeze to record exercise details, duration, and notes, ensuring that you have a comprehensive record of your fitness accomplishments.</p>
  </div>
</div>
 
<!-- to display the second circular image on the right side -->
<div class="flex-containe" style="align-items: center;">
  <div class="goals">
    <div id="mains">
        <img src="https://img.freepik.com/premium-photo/plastic-blue-dumbbells-notepad-pastel-background_175682-4203.jpg">
    </div>

<!-- to display the content when the circular image hovers -->
    <div id="textboi">
        <h1>Step 2</h1>
        <p>View Your goals  and</p>
        <p> progress in the Pogress Section.</p>
        <p><a routerLink="/progress">Click Here</a></p>
    </div>
</div>


<!-- to display the content beside the circular image -->
<div class="mai">
  <p style="font-size:19px; font-family: emoji;">Set your fitness goals and watch yourself achieve greatness. Define your targets, whether it's weight loss, running distance, or any other aspiration, and let our app guide you along the way.
    Stay motivated with personalized reminders and notifications. Never miss a workout or goal deadline again, as our app will keep you informed through your preferred communication channels.</p>
    <ul>With FitLogs,
      <li> you can easily log your workouts</li>
      <li>track your progress</li> 
      <li> set meaningful goals that push you towards new achievements </li></ul> 
</div>
</div>
